body {
    font-family: Arial;
    color: #ffffff ;
    background-color: #003e4b;
}
h1{
    color: #ffffff;

}
#main{
    padding: 20px;
    background-color: ##003e4b;
    border-radius: 0px 4px 4px 4px;
}
