body{
    background: #1b6b76;
}
.dia{
    color:#ffffff;
    width:25px;
    height:25px;
    border: 0px solid gray;
    float:left;
}
.fondoDia1{
    background-color: #238abe;
}
div .fondoDia1:hover{
    background-color: #196185;
}
.fondoDia2{
    background-color: #ffa400;
}
div .fondoDia2:hover{
    background-color: #cf8603;
}
.Verdadero{
    color:#228d16;
}
.Falso{
    color:#ff003e;
}

.content{
    font-family: 'Century Gothic',Arial;
 color: #5c5c5c;
 
    width:800px;
    background: #f2f2f2;
    padding:30px;
    margin:auto;
    box-shadow: 10px 35px 35px rgb(0,0,0,0.2);
}